<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Lalamove - Shortest Distance Route</title>
  <meta name="description" content="Lalamove">
  <meta name="author" content="Mina Halim">

  <link rel="stylesheet" href="css/styles.css?v=1.0">

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>

<body>
	<div class="centered">
  		<img src="img/logo.png" alt="lalamove">
  		<div class="content">
  			Built with <span class="red">&hearts;</span> Mina Halim
  		</div>
  	</div>
</body>
</html>