.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centered img {
	max-width: 100%;
}

.centered .content {
	font-family: "Helvetica";
	text-align: center;
}

.centered span.red {
	background: -webkit-linear-gradient(#F16822, #FEA200);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}